.btn {
    white-space: nowrap;
    min-width: 120px;
    padding: .5rem 1.5rem;
    border-radius: 10rem;
    box-sizing: border-box;
    height: 42px;
}

.btn:hover {
    /*TODO: add styling */
    transition: all .3s ease-in-out;
}

/*
TODO
- button styles
- hover + active states
*/


.btn-primary {
    background: var(--default-accent-gradient);
    border: 0;
}

.btn-primary:hover {
    filter: brightness(1.15);
    border: 0;
}

.btn-secondary {
    color: var(--default-font-color);
    background: var(--background-lighter);
    border: solid 2px var(--background-darker);
}

.btn-secondary:hover {
    color: var(--default-active-color);
    background: var(--background-lighter);
    border: solid 2px var(--default-active-color);
}

.btn-danger {
    /*background: var(--danger);
    background: var(--error);
    border: none;
    color: var(--gray-5);
    */

    color: var(--error);
    background: transparent;
    border: solid 2px var(--error);
    border-color: var(--error);
}

.btn-danger:hover {
    background-color: var(--error);
    border-color: var(--error);
    color: var(--default-font-color);
    transition: all 0.3s ease 0s;
    filter: saturate(1.2);
}
