.btn {
    white-space: nowrap;
    min-width: 120px;
    padding: .5rem 1.5rem;
}
/*
TODO
- button styles
- hover + active states
*/
.btn-primary {
    background: var(--grad-m);
    border: none;
    border-radius: 50px;
}

.btn-secondary {
    border-radius: 100rem;
    font-size: 1rem;
    color: var(--gray-5);
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5), 2px 1000px 1px #fff inset;
    border: solid 3px transparent;
    background-image: var(--grad-m);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.btn-danger {
    background: none;
    color: var(--gray-5);
    border:3px solid var(--gray-5);
    border-radius: 50px;
    box-sizing: border-box;
}