/* TODO */

a {
    color: var(--default-font-color);
}

a:hover {
    /* TODO: change to something better */
    color: var(--col-3-m);
}

a.icon,
a.icon:link,
a.icon:visited,
a.icon:hover,
a.icon:active {
    text-decoration: none;
}