.players {
    display: grid;
    grid-gap: 20px;
}

@media only screen and (min-width: 560px) {
    .players {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 768px) {
    .players {
        grid-template-columns: 1fr 1fr 1fr;
    }
}