.back-btn {
    padding: 1rem 1rem 0;
    display: block;
}

.back-btn svg {
    width: initial;
    margin-right: 0.4rem;
}

.profile-grid {
    display: grid;
    grid-gap: 1rem;
    box-sizing: border-box;
    padding: 1rem;
}

.stats,
.qs-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.qs-chart {
    display: grid;
}

@media only screen and (min-width: 576px) {
    .qs-chart {
        grid-template-columns: 1fr 1fr;
    }
}

body .apexcharts-canvas,
body .apexcharts-canvas.dark {
    background: var(--bg);
}

@media only screen and (min-width: 700px) {
    .stats,
    .qs-stats {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}