/* BASE */
@import "base/vars.css";

/* LAYOUT */
@import "layout/container.css";
@import "layout/collection.css";
@import "layout/util.css";

/* MODULES */
@import "modules/navbar.css";
@import "modules/pushbar.css";
@import "modules/box.css";
@import "modules/alerts.css";
@import "modules/searchbar.css";

/* COMPONENTS */
@import "quizconnect/styles/modal.css";
@import "quizconnect/styles/playerbox.css";
@import "quizconnect/styles/questionbox.css";
@import "quizconnect/styles/questionsetbox.css";
@import "quizconnect/styles/scrollpaginator.css";
@import "quizconnect/styles/stat.css";

/* THEME */

@import "theme/base.css";
@import "theme/buttons.css";
@import "theme/inputs.css";
@import "theme/links.css";