@import "../theme/colors.css";
@import "../theme/fonts.css";

body {
    background: var(--bg);
    color: var(--gray-5);
    margin: 0;
    padding: 0;
    font-family: var(--font-default);
    font-weight: 300;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.site-title {
    margin: 0;
    font-weight: 300;
}

.btn {
    white-space: nowrap;
}

.btn-primary {
    background: var(--grad-m);
    border: none;
    border-radius: 50px;
}

.btn-secondary {
    border-radius: 100rem;
    padding: 1rem;
    font-size: 1rem;
    padding: .5rem 3rem;
    color: var(--gray-5);
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: var(--grad-m);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
}

.btn-tertiary {
    background: none;
    color: var(--gray-5);
    border:3px solid var(--gray-5);
    border-radius: 50px;
    box-sizing: border-box;
}

a { color: var(--gray-5); }
a:hover {
    color: var(--gray-5);
    text-decoration: underline;
    font-weight: 400;
}

svg {
    max-width: 100%;
    color: inherit;
    fill: currentColor;
    stroke: none;
}

::selection {
    background: var(--col-4-l);
}

.form-control {
    background-color:transparent;
    border-width: 2px;
    border-radius: 10px;
    color: var(--gray-4);
}

input.error {
    border-color: var(--error);
}

input:invalid {
    border-color: var(--error);
}