/* ui widgets */

.ui-widget {
    font-family: inherit;
    font-size: inherit;
}

.ui-widget .ui-widget-header {
    border: 0;
    background: initial;
    color: inherit;
    font-weight: inherit;
    text-shadow: none;
}

/* buttons */

.ui-button {
    border: 0;
    border-radius: 0;
}

/* Fileupload */



.ui-corner-top {
    border-radius: 0;
}

.ui-fileupload,
.ui-fileupload.ui-fileupload-responsive {
    display: inline-block;
}

.ui-fileupload-buttonbar,
.ui-fileupload.ui-fileupload-buttonbar {
    padding: 0;
    display: inline-block;
}

.ui-fileupload-buttonbar .ui-button,
.ui-fileupload.ui-fileupload-buttonbar .ui-button {
    margin: 0;
    vertical-align: initial;
}

.ui-fileupload-content,
.ui-fileupload.ui-fileupload-content {
    display: none;
}

/* custom JSF rules */

.pf-upload,
.jsf-ajax {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
}