.section-sm {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    max-width: var(--breakpoint-lg);
    margin: 0 auto;
}

.section-sm-img {
    flex: .25;
}

.section-sm-text {
    flex: .75;
}