.add-margin{
    margin-top:20px;
}

.alert-container {
    display: table-cell;


    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 999;
}




@keyframes stretch {
    0% {
        transform: scale(.9);
        background-color: #440000;
        border-radius: 100%;
    }
    100% {
        transform: scale(1);
        background-color: red;
        border-radius: 100%;
    }
}


/* Custom */
.alert {
    /*ext-align:left;
    padding: 21px 0;
    background-color:#fff;
    border-radius:4px;
    max-width: 500px;
    top: 0px;
    position:relative;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);*/

    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
    padding: 21px 0;
    background-color:#fff;
    border-radius:4px;
}

.alert-cell{
    display:inline-block;
}

.alert-svg{
    fill:#fff;
}

.alert:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    border-top-left-radius:4px;
    border-bottom-left-radius: 4px;

}
.alert-icon{
    position:absolute;
    top:50%;
    left:22px;
    transform:translateY(-50%);
    width:14px;
    height:14px;
    padding: 7px;
    border-radius:50%;
    display:inline-block;
}

.alert-content {
    padding-left:70px;
    padding-right:60px;
}

.alert-summary {
    color: #3e3e3e;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
}

.alert-message {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    color: #878787;
}

.alert-close {
    position: absolute;
    right: 10px;
    top: 10%;
    width: 14px;
    cursor:pointer;
    height: auto;
    fill:#878787;
    transform: translateY(-50%);
}

.alert-info .alert-icon{
    background-color:#2BDE3F;
}

.alert-info:before{
    background-color:#2BDE3F;
}

.toast--blue .toast__icon{
    background-color:#1D72F3;
}

.toast--blue:before{
    background-color:#1D72F3;
}

.toast--yellow .toast__icon{
    background-color:#FFC007;
}

.toast--yellow:before{
    background-color:#FFC007;
}