.alert-container {
    display: grid;
    grid-auto-rows: 1fr;
    margin-top: var(--default-padding);
    grid-gap: var(--default-padding);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1060;
}

/* Custom */
.alert {
    --alert-border-radius: 4px;

    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-rows: 1fr;
    grid-gap: var(--default-padding);
    grid-template-areas:
        "icon content close"
    ;
    box-shadow: 4px 4px 16px 8px hsla(0,0%,0%,.3);
    padding: var(--default-padding);
    background-color: var(--background-secondary);
    border-radius: var(--alert-border-radius);
    border: 0;
    opacity: 1;
    margin: 0;
    /* TODO default dimensions @Johannes Spies (adjust w/ min-width/height) */
    min-width: 400px;
    min-height: 120px;
}

.alert-svg{
    color: inherit;
    fill: currentColor;
}

.alert:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    border-radius: var(--alert-border-radius) 0 0 var(--alert-border-radius);
}

.alert-icon{
    grid-area: icon;
    align-self: center;
    justify-self: center;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-font-color);
}

.alert-content {
    grid-area: content;
    color: var(--default-font-color);
}

.alert-summary {
    color: inherit;
    font-weight: 400;
    margin: 0 0 calc(var(--default-padding) / 2);
    line-height: 1;
}

.alert-text{
    font-weight: var(--default-font-weight);
    color: inherit;
    margin: 0;
    line-height: 1;
}

.alert-close {
    grid-area: close;
    align-self: start;
    text-shadow: none;
    border: 0;
    background: transparent;
    padding: 0;
    line-height: 1;
}

.alert-close:hover {
    cursor: pointer;
}

.alert-close svg {
    color: var(--default-font-color);
}

.alert-close:hover svg {
    color: var(--default-active-color);
}

.alert-info:before,
.alert-info .alert-icon{
    background:var(--info);
}

.alert-warning:before,
.alert-warning .alert-icon {
    background: var(--warning);
}

.alert-error:before,
.alert-error .alert-icon {
    background: var(--error);
}

.alert-fatal:before,
.alert-fatal .alert-icon {
    background: var(--danger);
}