/* TODO float corner */

/* Default */
ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.alert .glyphicon{
    display:table-cell;
}
.alert div,
.alert span{
    padding-left: 5px;
    display:table-cell;
}
#container {
    margin-left: 20px;
    margin-right: 20px;
}


/* Custom */
.alert {
    z-index: 999;
    width: 33%;
    margin: 0 auto; left: 0; right: 0;
    margin-bottom: 2em;
    color: var(--gray-5);
    position: absolute;
    padding: 1.25rem 1.25rem;
    border: 2px solid var(--col-1-m);
    border-radius: 1rem;
}

/*info should be success*/
.alert-info {
    background-color: var(--info);
}

.alert-warning {
    background-color: var(--warning);
}

.alert {
    opacity: 1;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.alert.fade {
    opacity: 0;
}