.box {
    padding: var(--default-padding);
    border: 1px solid var(--box-border-color);
    border-radius: var(--default-border-radius);
    box-sizing: border-box;
    position: relative;
    min-height: calc(3 * var(--default-padding));

    /* NEW TODO */
    /*
    background: #16212f;
    background-image: linear-gradient(135deg, hsl(214, 36%, 14%) 25%, hsl(216, 22%, 20%) 100%);
    border: 0;
    border-radius: 12px;

    */
    box-shadow:
            2px 2px 8px 4px hsla(0, 0%, 0%, .3),
            4px 4px 16px 8px hsla(0, 0%, 0%, .15)
;

    border-color: var(--background-secondary);
    border: 0;
    background: var(--background-secondary);

    /*
    border: 0;
    background: #251734;
    box-shadow:
        0 0 2px 1px #fff,
        0 0 16px 4px #f706cf,
        inset 0 0 2px 1px #fff,
        inset 0 0 16px 4px #f706cf
;
*/
}

.box-actions {
    position: absolute;
    top: var(--default-padding);
    right: var(--default-padding);
}

.box-action {
    margin-left: 4px;
}

.box-action:hover,
.box-action:active {
    text-decoration: none;
}

fieldset.box legend {
    width: auto;
    padding: 0 var(--default-padding);
    font-size: 1rem;

    /*
    background: #251734;
    border-radius: 1rem;
    text-shadow: 0 0 8px #fff, 0 0 106px #f706cf;

    box-shadow:
            0 0 2px 1px #fff,
            0 0 16px 4px #f706cf,
            inset 0 0 2px 1px #fff,
            inset 0 0 16px 4px #f706cf
            */
}