.navbar {
    background: var(--navbar-background);
    height: var(--navbar-height);
    position: relative;
}

.navbar-burger svg {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

/*
.navbar-logo {
    font-size: 1.5rem;
}
*/

/* TODO */
.navbar-logo svg {
    transition: 0.3s;
}
.navbar-logo svg:hover {
    transform: rotate(359deg) scale(1.3);
}