.pushbar.opened{
	display: block;
}

html.pushbar_locked{
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

.pushbar_locked .pushbar_main_content.pushbar_blur{
	filter:blur(15px);
}
.pushbar {
	z-index: 1000;
	position: fixed;
	will-change: transform;
	overflow-y: auto;
	transition:transform 0.5s ease;
	background: var(--sidebar-background);
}
.pushbar_overlay{
	z-index: -999;
	position: fixed;
	width: 100%;
	max-width: 100%;
	height: 100%;
	min-height: 100vh;
	top: 0;
	left: 0;
    will-change: opacity;
    transition:opacity 0.5s ease;
    opacity:0;
	background: var(--sidebar-overlay);
}
html.pushbar_locked .pushbar_overlay{
	opacity:0.8;
	z-index: 999;
    transition:opacity 0.5s ease;
}

.pushbar.from_left{
	top: 0;
	left: 0;
	width: 256px;
	max-width: 100%;
	height: 100%;
	min-height: 100vh;
	transform: translateZ(0) translateX(-100%);
}

.pushbar.from_right{
	top: 0;
	right: 0;
	width: 256px;
	max-width: 100%;
	height: 100%;
	min-height: 100vh;
	transform: translateZ(0) translateX(100%);
}

.pushbar.from_top{
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	min-height: 150px;
	transform: translateZ(0) translateY(-100%);
}
.pushbar.from_bottom{
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	min-height: 150px;
	transform: translateZ(0) translateY(100%);
}

.pushbar.opened{
   transform: translateX(0px) translateY(0px);
}

/* Sidebar styles */

.pushbar.opened.sidebar-nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.pushbar-close {
	position: absolute;
	top: 0;
	right: 0;
	height: var(--navbar-height);
	width:  var(--navbar-height);
}

.pushbar-close svg {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: var(--default-padding);
	cursor: pointer;
}

.pushbar-close span[data-pushbar-close]{
	display: inline-block;
	/* background: red; */
}

.pushbar-nav {
	margin-top: var(--navbar-height);
	font-size: 1.5rem;
    margin-bottom: var(--navbar-height);
}

.pushbar-footer {
	padding: var(--default-padding) var(--default-padding) 5rem;
	box-sizing: border-box;
	text-align: center;
}

.pushbar-themes {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-bottom: 2rem;
}

.pushbar-themes .theme {
    text-decoration: underline;
}

.pushbar-themes .theme:hover {
    cursor: pointer;
}

.pushbar-logout {
}