.searchbar { /* TODO */
    display: flex;
    padding-bottom: var(--default-padding);
}

.searchbar .searchbar-search {
    flex: 1;
    min-width: 120px;
    height: initial;
    padding: .5rem 1rem;
}

.searchbar .searchbar-action {
    margin: 0 0 0 1rem;
}