/**
 * Slideout module styles
 */
body {
    min-width: 100%;
    min-height: 100vh;
}

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
    min-height: -webkit-stretch;
    min-height: stretch;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    background: var(--main-panel-background);
    background-size: cover;
    background-position: 50%, 50%;
    will-change: transform;
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

/* Styles for backdrop */
.slideout-panel.slideout-backdrop:before {
    content: '';
    display: block;
    background-color: var(--sidebar-overlay);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.slideout-panel.slideout-backdrop.panel-open:before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: .5;
    z-index: 99;
}