.profile-grid {
    display: grid;
    grid-gap: var(--default-padding);
    padding-bottom: var(--default-padding);
    box-sizing: border-box;
}

.profile-actions {
    display: grid;
    grid-gap: var(--default-padding);
}

.profile-stat-box {
    display: grid;
    grid-gap: var(--default-padding);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .profile-grid {
        grid-template-columns: 1fr 1fr;
    }

    .profile-actions {
        grid-template-columns: 1fr 1fr;
        grid-column: span 2;
        justify-items: center;
    }

    .profile-stat-line {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-column: span 2;
    }
}



.player-box-info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    text-align: center;
}

.player-box-icon {
    background: var(--playerbox-avatar-background);
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-box .player-box-icon {
    width: 5rem;
    height: 5rem;
}

.player-box-icon img {
    width: 100%;
    height: auto;
}

.player-box-name,
.player-box-name h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}

.player-box-rank {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 75%;
    line-height: 1;
}

.box:empty {
    display: none;
}

meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0 auto 1em;
    width: 100%;
    height: 1em;
    /* Applicable only to Firefox */
    background: none;
    background: linear-gradient(90deg, rgba(229,93,93,0.15) 25%, rgba(255,191,115,0.15) 50%, rgba(93,229,154,0.15) 75%, rgba(9,189,90,0.15) 100%);
    /*background: none;
    background-color: rgba(0,0,0,0.1);*/
}
meter::-webkit-meter-bar {
    background: none;
    background: linear-gradient(90deg, rgba(229,93,93,0.15) 25%, rgba(255,191,115,0.15) 50%, rgba(93,229,154,0.15) 75%, rgba(9,189,90,0.15) 100%);
}
meter[value="1"]::-webkit-meter-optimum-value { background: var(--error); box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-right: 2px solid #FFFFFF;}
meter[value="2"]::-webkit-meter-optimum-value { background: var(--warning); box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-right: 2px solid #FFFFFF;}
meter[value="3"]::-webkit-meter-optimum-value { background: var(--col-5-l); box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-right: 2px solid #FFFFFF;}
meter[value="4"]::-webkit-meter-optimum-value { background: var(--col-5-d);}
meter[value="1"]::-moz-meter-bar { background: var(--error); box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-right: 2px solid #FFFFFF};
meter[value="2"]::-moz-meter-bar { background: var(--warning); box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-right: 2px solid #FFFFFF;}
meter[value="3"]::-moz-meter-bar { background: var(--col-5-l); box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-right: 2px solid #FFFFFF;}
meter[value="4"]::-moz-meter-bar { background: var(--col-5-d); }