.profile-grid {
    display: grid;
    grid-gap: var(--default-padding);
    padding-bottom: var(--default-padding);
    box-sizing: border-box;
}

.profile-actions {
    display: grid;
    grid-gap: var(--default-padding);
}

.profile-stat-box {
    display: grid;
    grid-gap: var(--default-padding);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .profile-grid {
        grid-template-columns: 1fr 1fr;
    }

    .profile-actions {
        grid-template-columns: 1fr 1fr;
        grid-column: span 2;
        justify-items: center;
    }

    .profile-stat-line {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-column: span 2;
    }
}



.player-box-info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    text-align: center;
}

.player-box-icon {
    background: var(--playerbox-avatar-background);
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-box .player-box-icon {
    width: 5rem;
    height: 5rem;
}

.player-box-icon img {
    width: 100%;
    height: auto;
}

.player-box-name,
.player-box-name h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}

.player-box-rank {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 75%;
    line-height: 1;
}