.grid-container {
    width: 100%;
    display: grid;
    height: calc(100vh - var(--navbar-height) - var(--default-padding));
    grid-template-columns:  1fr;
    grid-auto-columns: 1fr;
    grid-gap: var(--default-spacing);
    font-size: 1.5em;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .grid-container {
        grid-gap: var(--default-spacing);
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        font-size: 2em;
    }
}



.box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box img {
    display: inline-block;
    visibility: visible;
    opacity: 1;
    max-height: 80%;
    max-width: 80%;
    -webkit-transition: visibility 0.5s, opacity 0.5s;
    -moz-transition: visibility 0.5s, opacity 0.5s;
    -ms-transition: visibility 0.5s, opacity 0.5s;
    -o-transition: visibility 0.5s, opacity 0.5s;
    transition: visibility 0.5s, opacity 0.5s;

}

.box span {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.5s, opacity 0.5s;
    -moz-transition: visibility 0.5s, opacity 0.5s;
    -ms-transition: visibility 0.5s, opacity 0.5s;
    -o-transition: visibility 0.5s, opacity 0.5s;
    transition: visibility 0.5s, opacity 0.5s;
    position: absolute;
    display: inline-block;
    font-family: var(--default-font);
    color: var(--default-font-color);
    font-size: 2em;

}
.box:hover span {
    visibility: visible;
    opacity: 1;
}

.box:hover img {
    visibility: hidden;
    opacity: 0;
}