.question-info-box {
    display: grid;
    grid-gap: var(--default-padding);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.question-info-box.picture img {
    width: 50%;
}

.preview-overview img {
    max-width: 35%;
}