:root {

    /* DEFAULT COLORS */
    --col-1-d: #303e4f;
    --col-1-m: #081627; /* #4a607a; */
    --col-1-l: #919EAD;

    --col-2-d: #247291;
    --col-2-m: #2A86AB;
    --col-2-l: #54A9CC;

    --col-3-d: #17A2AD;
    --col-3-m: #19B8C4;
    --col-3-l: #53CAD4;

    --col-4-d: #11B8A3;
    --col-4-m: #13CFB8;
    --col-4-l: #65E3D4;

    --col-5-d: #09BD5A;
    --col-5-m: #0AD464;
    --col-5-l: #5DE59A;

    --gray-1: #383D42;
    --gray-2: #5A626B;
    --gray-3: #7A8591;
    --gray-4: #B3BECD;
    --gray-5: #EFF2F5;

    --accent-1: #C955DC;
    --accent-2: #FB5BFF;
    --accent-3: #FB78FF;

    --grad-d: linear-gradient(35deg, rgba(23,162,173,1) 0%, rgba(9,189,90,1) 100%);
    --grad-m: linear-gradient(35deg, rgb(25, 184, 196) 0%, rgb(10, 212, 100) 100%);
    --grad-l: linear-gradient(35deg, rgb(83, 202, 212) 0%, rgb(93, 229, 154) 100%);


    /* TYPOGRAPHY */
    --default-font: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --default-font-weight: 300;
    --default-font-color: var(--gray-5);
    --default-disabled-color: var(--gray-3);
    --default-active-color: var(--col-2-l);


    /* THEME COLORS */
    --selection-background: var(--col-4-l);

    --background-primary: var(--col-1-d);
    --background-secondary: #16212f; /* var(--col-1-m); */

    --navbar-background: #16212f;
    --navbar-height: 64px;

    --sidebar-overlay: hsl(217, 100%, 5%);
    --sidebar-background: hsl(214, 36%, 14%);
    --sidebar-background-gradient: linear-gradient(145deg, hsl(214, 36%, 14%) 25%, hsl(216, 22%, 22%) 100%);

    --box-border-color: var(--col-2-d);

    --collection-box-icon-size-small: 1.6rem;
    --collection-box-icon-size: 3rem;

    --playerbox-avatar-size-detail: 8rem;
    --playerbox-avatar-background: transparent;

    --questionsetbox-icon-size-small: 1.5rem;
    --questionsetbox-icon-size-detail: 2rem;
    --questionsetbox-icon-background: transparent;

    --fab-btn-background: #16212f;
    --fab-btn-color: var(--default-font-color);

    --game-timer-color: var(--col-3-d);

    --chat-background: var(--col-1-m);
    --chat-message-color: var(--gray-5);
    --chat-message-background: var(--gray-1);

    --chat-message-out-color: var(--gray-5);
    --chat-message-out-background: var(--gray-3);

    --chat-message-info-color: var(--info);
    --chat-message-info-background: var(--gray-1);

    --chart-area-stroke: var(--col-3-m);

    --input-background: var(--col-1-m);
    --input-focus-background: var(--col-1-d);
    --input-color: var(--col-1-l);
    --input-focus-color: var(--col-1-l);
    --input-border-color: var(--col-1-m);
    --input-focus-border-color: var(--col-1-m);

    --range-thumb-color: var(--input-focus-background);
    --range-background-color: var(--input-background);

    /* DEFAULT LAYOUT VARIABLES */
    --default-padding: 1rem;

    /* ACTION TYPES */
    --danger: #FB78FF;
    --alert: #53CAD4;
    --info: #5DE59A;
    --success: #5DE59A;
    --warning: #FFBF73;
    --error: #E55D5D;


    --lighter-red: #ed5e68;
}