:root {

    /* DEFAULT COLORS */
    --col-1-d: #303e4f;
    --col-1-m: #4a607a;
    --col-1-l: #919EAD;

    --col-2-d: #247291;
    --col-2-m: #2A86AB;
    --col-2-l: #54A9CC;

    --col-3-d: #17A2AD;
    --col-3-m: #19B8C4;
    --col-3-l: #53CAD4;

    --col-4-d: #11B8A3;
    --col-4-m: #13CFB8;
    --col-4-l: #65E3D4;

    --col-5-d: #09BD5A;
    --col-5-m: #0AD464;
    --col-5-l: #5DE59A;

    --gray-1: #383D42;
    --gray-2: #5A626B;
    --gray-3: #7A8591;
    --gray-4: #B3BECD;
    --gray-5: #EFF2F5;

    --accent-1: #C955DC;
    --accent-2: #FB5BFF;
    --accent-3: #FB78FF;

    --grad-d: linear-gradient(35deg, rgba(23,162,173,1) 0%, rgba(9,189,90,1) 100%);
    --grad-m: linear-gradient(35deg, rgb(25, 184, 196) 0%, rgb(10, 212, 100) 100%);
    --grad-l: linear-gradient(35deg, rgb(83, 202, 212) 0%, rgb(93, 229, 154) 100%);


    /* TYPOGRAPHY */
    --default-font: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --default-font-weight: 300;
    --default-font-color: var(--gray-5);

    --selection-background: var(--col-4-l);

    /* THEME COLORS */
    --background-primary: var(--col-1-d);
    --background-secondary: var(--col-1-m);

    --navbar-background: var(--background-secondary);
    --navbar-height: 64px;

    --sidebar-overlay: var(--col-1-m);
    --sidebar-background: var(--col-1-m);

    --box-border-color: var(--col-2-d);

    --playerbox-avatar-size-small: 3rem;
    --playerbox-avatar-size-detail: 8rem;
    --playerbox-avatar-background: transparent;

    /* DEFAULT LAYOUT VARIABLES */
    --default-padding: 1rem;

    /* ACTION TYPES */
    --danger: #FB78FF;
    --alert: #53CAD4;
    --info: #5DE59A;
    --warning: #FFBF73;
    --error: #E55D5D;
}