:root {
    /* TYPOGRAPHY */
    --default-font: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --default-font-weight: 300;

    /* THEME COLORS */
    --selection-background: #65E3D4;
    --default-font-color: #EFF2F5;

    --background-primary: #1e2736;
    --background-lighter: hsl(218, 29%, 20%);
    --background-darker: #081627;

    --background-gradient: var(--background-primary); /* todo  linear-gradient(60deg, rgba(48,62,79,1) 0%, rgba(75,84,101,1) 25%, rgba(30,39,54,1) 50%, rgba(35,42,54,1) 75%, rgba(52,61,77,1) 100%); */

    --main-panel-background: var(--background-primary);

    --navbar-background: var(--background-lighter);
    --navbar-height: 64px;

    --sidebar-overlay: hsl(217, 100%, 5%);
    --sidebar-background: hsl(214, 36%, 14%);
    --sidebar-background-gradient: linear-gradient(145deg, hsl(214, 36%, 14%) 25%, hsl(216, 22%, 22%) 100%);

    --default-disabled-color: #7A8591;
    --default-active-color: #54A9CC;
    --default-active-background: hsla(214, 36%, 22%, .7);

    --default-accent-gradient: linear-gradient(35deg, rgba(23,162,173,1) 0%, rgba(9,189,90,1) 100%);

    /* ACTION TYPES */ /* are error and danger swapped? */
    --danger: #FB78FF;
    --danger-gradient: linear-gradient(35deg, #DD439C 0%, #973FDC 100%);
    --alert: #53CAD4;
    --info: #0AD464;
    --success: #09BD5A;
    --success-gradient: linear-gradient(35deg, #19B8C4 0%, #0AD464 100%);
    --warning: #FFBF73;
    --error: #E55D5D; /* #dc3545 */
    --error-gradient: linear-gradient(35deg, #F86D70 0%, #F86DB8 100%);

    --box-border-color: transparent;

    --collection-box-icon-size-small: 1.6rem;
    --collection-box-icon-size: 3rem;
    --collection-box-icon-background: transparent;

    --fab-btn-background: var(--background-lighter);
    --fab-btn-color: var(--default-font-color);

    --game-timer-color: #17A2AD;

    --chat-background: var(--background-darker);
    --chat-message-color: var(--default-font-color);
    --chat-message-background: #383D42;

    --chat-message-out-color: var(--default-font-color);
    --chat-message-out-background: #7A8591;

    --chat-message-info-color: var(--default-font-color);
    --chat-message-info-background: var(--background-primary);

    --input-background: var(--background-darker);
    --input-focus-background: var(--background-primary);
    --input-box-shadow: 2px 2px 16px 0 hsla(0, 0%, 0%, .075);
    --input-color: #7A8591;
    --input-focus-color: var(--default-font-color);
    --input-border-color: var(--background-darker);
    --input-focus-border-color: var(--background-darker);

    --range-thumb-color: var(--input-focus-background);
    --range-background-color: var(--input-background);

    /* DEFAULT LAYOUT VARIABLES */
    --default-spacing: 1rem;
    --default-padding: 1rem;
    --default-border-radius: 1rem;

    --default-box-shadow: 2px 2px 16px 4px hsla(0, 0%, 0%, .2), 4px 4px 32px 8px hsla(0, 0%, 0%, .05);
}

@media only screen and (min-width: 560px) {
    :root {
        --default-spacing: 2rem;
        --default-padding: 1.5rem;
    }
}