.join {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.join input {
    --space: 1rem;

    border: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 3rem;
    line-height: 1;
    letter-spacing: var(--space);
    /*
    margin-right: calc(-1 * var(--space));
    min-width: calc(166px + (6 * var(--space)));
    */
    padding: 0 0 0 var(--space);
    width: calc(166px + (8 * var(--space))); /* TODO find a better solution */

    display: block;
    text-align: center;
    background: transparent;
    font-weight: inherit;
    color: inherit;
}

.join input::placeholder {
    color: inherit;
}

.join input[type=number]::-webkit-inner-spin-button,
.join input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}