.footer {
    width: 100%;
    background: var(--background-lighter);
}

.footer-nav {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.footer-nav a {
    padding: 0 .5rem;
    font-size: 1.5rem;
    white-space: nowrap;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer-social a {
    font-size: 3rem;
    padding: 0 1rem;
}