.question {
    margin-bottom: 1rem;
}

#questionTime span {
    transition: width .25ms ease-in-out, color .25ms ease-in-out;
    background: red;
    height: 3px;
    display: inline-block;
    will-change: width;
}