.modal {
}

.modal-dialog {

}

.modal-content {
    background: transparent;
    border: 1px solid transparent;
    border-radius: var(--default-border-radius);
}

[data-theme-name="outrun"] .modal-content {
    box-shadow: var(--default-box-shadow);
    border: 1px solid var(--background-primary);
}

.modal-header {
    background: var(--background-lighter);
    border-bottom: 0;
    border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
    box-shadow: var(--default-box-shadow);
    padding: var(--default-padding);
}

.modal-title {

}

.modal .close {
    color: var(--default-font-color);
}


.modal-body {
    background: var(--background-primary);
    padding: var(--default-padding) var(--default-padding) 0;
}

.modal-footer {
    border-top: 0;
    background: var(--background-primary);
    border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
    padding: var(--default-padding);
}

.modal-warning .modal-header,
.modal-warning .modal-body,
.modal-warning .modal-footer {
    background-color: var(--warning);
}

.modal-error .modal-header,
.modal-error .modal-body,
.modal-error .modal-footer {
    background-color: var(--error);
}

.modal-success .modal-header,
.modal-success .modal-body,
.modal-success .modal-footer {
    background-color: var(--success);
}

.modal-question .modal-header,
.modal-question .modal-body,
.modal-question .modal-footer {
    background-color: var(--warning);
}

/*TODO: Select color for edit-modal*/
.modal-edit .modal-header,
.modal-edit .modal-body,
.modal-edit .modal-footer {
    background-color: var(--col-2-d);
}