.modal {
}

.modal-dialog {

}

.modal-content {
    background: transparent;
}

.modal-header {
    background: var(--background-secondary);
    border-bottom: 0;
    border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
    box-shadow: 0 0 8px 4px hsla(0, 0%, 0%, .1);
}

.modal-title {

}

.modal .close {
    color: var(--default-font-color);
}


.modal-body {
    background: var(--background-primary);
}

.modal-footer {
    border-top: 0;
    background: var(--background-primary);
    border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
}

.modal-warning .modal-header,
.modal-warning .modal-body,
.modal-warning .modal-footer {
    background-color: var(--warning);
}

.modal-error .modal-header,
.modal-error .modal-body,
.modal-error .modal-footer {
    background-color: var(--error);
}

.modal-success .modal-header,
.modal-success .modal-body,
.modal-success .modal-footer {
    background-color: var(--success);
}

.modal-question .modal-header,
.modal-question .modal-body,
.modal-question .modal-footer {
    background-color: var(--warning);
}

/*TODO: Select color for edit-modal*/
.modal-edit .modal-header,
.modal-edit .modal-body,
.modal-edit .modal-footer {
    background-color: var(--col-2-d);
}