.playerbox {
    display: grid;
}

.playerbox.playerbox-small {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 8px;
    grid-template-areas:
            "avatar name"
            "avatar rank";
}

.playerbox-avatar {
    background: var(--playerbox-avatar-background);
    border-radius: 50%;
    grid-area: avatar;
}

.playerbox-small .playerbox-avatar {
    width: var(--playerbox-avatar-size-small);
    height: var(--playerbox-avatar-size-small);
}

.playerbox-avatar img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 300px){
    .playerbox-avatar {
        display: none;
    }
}


.playerbox-username,
.playerbox-username h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-area: name;
    font-weight: 400;
}

.playerbox-rank {
    grid-area: rank;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 75%;
}

/* TODO set or remove
.playerbox[data-ingame="true"] .playerbox-avatar {}

.playerbox[data-ingame="false"] .playerbox-avatar {}

.playerbox[data-ingame="true"] .playerbox-info-name h3:after {
    content: '●';
    padding-left: .4rem;
    color: var(--pb-ingame);
}
*/