.playerbox {
    display: grid;
}

.playerbox.playerbox-small {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 8px;
    grid-template-areas:
        "avatar name"
        "avatar rank";
}

.playerbox.playerbox-detail {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 0;
    grid-template-areas:
        "avatar"
        "name"
        "stats";
}

.playerbox-avatar {
    background: var(--playerbox-avatar-background);
    border-radius: 50%;
    grid-area: avatar;
    margin: 0 auto;
}

.playerbox-small .playerbox-avatar {
    width: var(--playerbox-avatar-size-small);
    height: var(--playerbox-avatar-size-small);
}

.playerbox-detail .playerbox-avatar {
    width: var(--playerbox-avatar-size-detail);
    height: var(--playerbox-avatar-size-detail);
}

.playerbox-avatar img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 300px){
    .playerbox-small .playerbox-avatar {
        display: none;
    }
}


.playerbox-username,
.playerbox-username h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-area: name;
    font-weight: 400;
}

.playerbox-detail .playerbox-username {
    padding-bottom: var(--default-padding);
}

.playerbox-rank {
    grid-area: rank;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 75%;
}

.playerbox.playerbox-detail .playerbox-stats {
    grid-area: stats;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* TODO set or remove
.playerbox[data-ingame="true"] .playerbox-avatar {}

.playerbox[data-ingame="false"] .playerbox-avatar {}

.playerbox[data-ingame="true"] .playerbox-info-name h3:after {
    content: '●';
    padding-left: .4rem;
    color: var(--pb-ingame);
}
*/