.qset-lg h3 {
    font-size: 2rem;
}

.qset-sm h3 {
    font-size: 1.15rem;
}

.qset h3 {
    margin: 0;
}

.qset p {
    margin: 0;
    text-transform: uppercase;
    font-size: .75rem;
    white-space: nowrap;
}

.qset {
    text-align: center;
}

.qset.qset-left {
    text-align: left;
}

.qset.qset-right {
    text-align: right;
}