/*
    Layout:

    [] ... optional

    <div class="stat [.stat-left|.stat-right|.stst-lg|.stat-sm]">
        <h3>23425</h3>
        <p>highscore</p>
    </div>
*/


.stat-lg h3 {
    font-size: 2rem;
}

.stat-sm h3 {
    font-size: 1.15rem;
}

.stat h3 {
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
}

.stat p {
    margin: 0;
    text-transform: uppercase;
    font-size: .75rem;
    /* white-space: nowrap; */
}

.stat-lg p {
    font-size: 1rem;
}

.stat-xlg h3 {
    font-size: 2.5rem;
}

.stat-xlg p {
    font-size: 1.125rem;
}

.stat {
    text-align: center;
}

.stat.stat-left {
    text-align: left;
}

.stat.stat-right {
    text-align: right;
}

.stat.stat-upper {
    text-transform: uppercase;
}