.answers {
    display: grid;
    grid-gap: 1rem;
    font-size: 1.5rem;
}

.answer:hover {
    cursor: pointer;
}

.answer-placeholder {
    opacity: .5;
    filter: blur(5px);
    background: var(--gray-3);
}

.answer-placeholder p {
    height: 1.5rem;
}

.answer.answer-placeholder:hover {
    cursor: initial;
}

