.ingame-answers {
    display: flex;
    flex-flow: row-reverse wrap;
    /*
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    grid-gap: var(--default-padding);
    */
    padding-bottom: 6rem;
}

.ingame-answers .answer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.ingame-answers .answer p {
    margin: 0;
}

.ingame-answers .answer:hover {
    cursor: pointer;
}

/* todo remove from here on out ? */
.ingame-answers .answer-1x2 {
    grid-row: span 2;
}

.ingame-answers .answer-2x1 {
    grid-column: span 2;
}

.ingame-answers .answer-order-0 { order: 0; }
.ingame-answers .answer-order-1 { order: 1; }
.ingame-answers .answer-order-2 { order: 2; }
.ingame-answers .answer-order-3 { order: 3; }
.ingame-answers .answer-order-4 { order: 4; }
.ingame-answers .answer-order-5 { order: 5; }
.ingame-answers .answer-order-6 { order: 6; }
.ingame-answers .answer-order-7 { order: 7; }
.ingame-answers .answer-order-8 { order: 8; }
.ingame-answers .answer-order-9 { order: 9; }