/* LAYOUT */

.ingame-container {
    display: grid;
    grid-gap: var(--default-padding);
    grid-template-rows: auto auto 1fr;
}

[data-score] {
    transition: color .25s ease-in-out;
}
[data-score].increase {
    color: var(--success);
}
[data-score].decrease {
    color: var(--danger);
}

.answer {
    transition: all .25s ease-in-out;
    opacity: 1;
}
.answer.correct {
    background: var(--success) !important;
    background: var(--success-gradient) !important;
    opacity: .5;
}
.answer.incorrect {
    background: var(--danger) !important;
    background: var(--danger-gradient) !important;
    opacity: .5;
}

/* QUESTION */

.ingame-question {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 120px;
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
}

.time-remaining-wrapper {
    border: 1px solid var(--game-timer-color);
    border-radius: var(--default-padding);
    overflow: hidden;
    box-shadow: 0 0 8px 4px hsla(0, 0%, 0%, 0.05), inset 0 0 8px 4px hsla(0, 0%, 0%, 0.05);
}

.time-remaining {
    background: var(--game-timer-color);
    height: calc(var(--default-padding) / 4);
    width: 100%;
}

/* ANSWERS */

.ingame-answers {
    display: grid;
    grid-template-rows: repeat(4, 1fr); /* 3x4 => 12 / MAX_ANSWERS = 2 cells per answer */
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    grid-gap: var(--default-padding);
    padding-bottom: 6rem;
}

.answer-picture {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ingame-answers .answer-box.empty {
    visibility: hidden;
}

.ingame-answers .answer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingame-answers .answer p {
    margin: 0;
}

.ingame-answers .answer:hover {
    cursor: pointer;
    transform: scale(1.05);
}


.ingame-answers .answer-box-1x2 {
    grid-row: span 2;
}

.ingame-answers .answer-box-2x1 {
    grid-column: span 2;
}