.time-remaining-wrapper {
    border: 1px solid var(--game-timer-color);
    border-radius: var(--default-padding);
}

.time-remaining {
    background: var(--game-timer-color);
    height: calc(var(--default-padding) / 4);
    /* will-change: width; */

}

.time-remaining-wrapper.type-2 {
    overflow: hidden;
}

.time-remaining-wrapper.type-2 .time-remaining {
    width: 100%;
}