.form {
    width: 100%;
    max-width: 560px;
    max-height: calc(90vh - var(--navbar-height));
    overflow-y: auto;
    overflow-x: visible;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.step-header {

}

.form-steps-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: var(--default-spacing);
}

@media only screen and (max-width: 325px) {
    .form-steps-nav .btn {
        width: 100%;
        margin: calc(var(--default-spacing) / 2) 0;
    }

    .form-steps-nav .btn:first-child {
        margin-top: 0;
    }

    .form-steps-nav .btn:last-child {
        margin-bottom: 0;
    }
}

.collection-sets-wrapper {
    max-height: calc(90vh - var(--navbar-height) - 166px);
    display: grid;
    grid-gap: var(--default-spacing);
    align-items: start;
    overflow-y: auto;
    overflow-x: visible;
}

.collection-sets-wrap {
    display: grid;
    grid-template-rows: auto 1fr;
    direction: ltr;
}

.collection-sets {
    display: grid;
    grid-gap: var(--default-spacing);
    overflow-y: auto;
    overflow-x: visible;
    max-height: 25vh;
}

@media only screen and (min-width: 560px) {
    .collection-sets-wrapper {
        grid-template-columns: 1fr 1fr;
        direction: rtl;
    }

    .collection-sets {
        max-height: 50vh;
    }
}

@media only screen and (min-width: 992px) {
    .collection {
        grid-template-columns: 1fr 1fr;
    }
}

.search-available {
    margin: var(--default-padding) 0;
}

.confirm-wrapper {
    max-height: calc(90vh - var(--navbar-height) - 104px);
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: auto;
    overflow-x: visible;
}

.confirm-settings {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.confirm-settings .stat {
    padding: calc(var(--default-padding) / 2);
    min-width: 120px;
}

